[submodule "vendor/leaflet-search"]
	path = vendor/leaflet-search
	url = https://github.com/stefanocudini/leaflet-search.git
[submodule "vendor/PHPMailer"]
	path = vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "vendor/sisyphus"]
	path = vendor/sisyphus
	url = https://github.com/simsalabim/sisyphus.git
[submodule "vendor/font-awesome-animation"]
	path = vendor/font-awesome-animation
	url = https://github.com/l-lin/font-awesome-animation.git
[submodule "highcharts"]
	path = highcharts
	url = https://github.com/highcharts/highcharts.git
[submodule "vendor/highcharts"]
	path = vendor/highcharts
	url = https://github.com/highcharts/highcharts.git
[submodule "vendor/omirl_data_ingestion"]
	path = vendor/omirl_data_ingestion
	url = https://github.com/gtergeomatica/omirl_data_ingestion
[submodule "vendor/bootstrap-select"]
	path = vendor/bootstrap-select
	url = https://github.com/snapappointments/bootstrap-select.git
[submodule "vendor/bootstrap-datapicker"]
	path = vendor/bootstrap-datapicker
	url = https://github.com/uxsolutions/bootstrap-datepicker.git
[submodule "vendor/leaflet-list-markers"]
	path = vendor/leaflet-list-markers
	url = https://github.com/stefanocudini/leaflet-list-markers.git
[submodule "vendor/bootstrap-table"]
	path = vendor/bootstrap-table
	url = https://github.com/wenzhixin/bootstrap-table.git
