# ignore python telegram credential
pages/eventi/__pycache__/*.pyc
pages/eventi/conn.py
pages/eventi/conn.pyc
pages/eventi/config.py
pages/eventi/config.pyc
pages/incarichi/credenziali_mail.php
pages/incarichi_interni/credenziali_mail.php
pages/sopralluoghi/credenziali_mail.php
pages/provvedimenti_cautelari/credenziali_mail.php
pages/token_telegram.php
*.pyc
pages/eventi/*.pyc
pages/eventi/*.log

