[submodule "vendor/leaflet-search"]
	path = vendor/leaflet-search
	url = https://github.com/stefanocudini/leaflet-search.git
[submodule "vendor/PHPMailer"]
	path = vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "vendor/sisyphus"]
	path = vendor/sisyphus
	url = https://github.com/simsalabim/sisyphus.git
