# ignore python telegram credential
# remove file from repo https://help.github.com/en/github/managing-large-files/removing-files-from-a-repositorys-history
*.php~
pages/eventi/__pycache__/*.pyc
pages/download/*
pages/eventi/conn.py
pages/eventi/conn.pyc
pages/eventi/config.py
pages/eventi/config.pyc
pages/eventi/conn_mysql.py
pages/eventi/conn_mssql.py
pages/incarichi/credenziali_mail.php
pages/incarichi_interni/credenziali_mail.php
pages/sopralluoghi/credenziali_mail.php
pages/provvedimenti_cautelari/credenziali_mail.php
pages/token_telegram.php
pages/segnalazioni/token_api_ge.py
pages/segnalazioni/conn.py
pages/segnalazioni/conn_mssql.py
*.pyc
*py~
pages/eventi/*.pyc
pages/eventi/*.log
pages/eventi/crash.log
conn.php
pages/eventi/bot.pid
pages/eventi/bot_photos/*
